html {
  background-color: #266166;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #00232E;
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 4em;
  color: white;
}

h2 {
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  padding-left: 10px;
}

h4 {
  font-size: 1.5em;
  text-align: center;
}

main {
  background-color: white;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #149093;
}

ol li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00232E;
}

ul {
  font-size: 1em;
  list-style-type: square;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
}

th, td {
  padding: 6px;
}

p {
  padding: 10px;
}

footer {
  background-color: #00232E;
  padding: 10px;
  text-align: center;
  color: white;
}

.center {
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.circle {
  list-style-type: circle;
}

#app {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
